html, body {
    background: black;
    margin: 0;
    width: 100%;
    height:auto;
  }
  
  body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    background: #f5f5f5;
  
  }
  .container {
    position: relative;
    width: 100%;
    height:auto;
    margin: 0px;
    overflow-y: hidden;
  }



  .map-image {
    width: auto;
    height: 100%;
    left: 0px;
    display: block;
    overflow: hidden;
  }


  .trellick {
    position: absolute;
    top: 880px; 
    left: 300px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%)
    
  }

  .meanwhile {
    position: absolute;
    top: 1000px; 
    left: 700px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%)
    
  }


  .wech {
    position: absolute;
    top: 550px; 
    left: 1200px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%)
  }

  .location-scanned {
    background: greenyellow;
  } 
  


  .trellicklabel, .meanwhilelabel, .wechlabel {
   
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 60px;
    padding: 50px;
    border-width: 4px;
    border-color: white;
    white-space: nowrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    display: none;
  }

  .trellicklabel h1, .meanwhilelabel h1, .wechlabel h1 {
      font-size: 20px;
      font-weight: normal;
  }

  .trellicklabel h2, .meanwhilelabel h2, .wechlabel h2{
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }

  .trellicklabel button, .meanwhilelabel button, .wechlabel button {
    margin-top: 1px;
    position: absolute;
    top: 4px;
    right: 4px;
    background: none;
    color: white;
    border: none;
    font-size:25px;
    box-shadow: none;
    cursor: pointer;
  }

  .open-label{
    display:block;
  }


  .prompt-screen {
    position:fixed;
    inset: 0;
    background-color: #fff;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    font-size: 11px;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
    color:black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;

    z-index: 9999;

    opacity: 1;
    transition: opacity 0.8s ease;

  }

  .prompt-content h1 {
    color: green;
    font-size: 30px;
  }

  .prompt-content h2 {
    font-size: 15px;
  }

  .prompt-content {
    pointer-events: none;
      max-width: 90%; 
      margin: 0 auto;  
  }

  .prompt-screen.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .community-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;           
    transform: translateX(-50%);
    padding: 15px 20px;
    font-size: 14px;
    background: black;
    color: white;
    border: 1px;
    border-color: greenyellow;
    font-family: "Roboto Mono", monospace;
    display: none;
    z-index: 99999;
    cursor: pointer;
  }

  .community-btn.show {
    display:block;
  }
